<div *ngIf="active" class="ready-check">
    <div class="title-container">
        <div class="animation-bar">
        </div>
        <h1 class="title">GAME READY</h1>
        <div class="time-bar"></div>
    </div>
    <div class="accepted-status">
        {{acceptedCount}} / {{totalCount}}
    </div>
    <button class="accept-btn btn" (click)="accept()">ACCEPT</button>
    <button class="decline-btn btn" (click)="decline()">DECLINE</button>
</div>
