@import "../../../styles/variables.scss";

.ready-check {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 8rem;
    background-color: rgba(#000, .89);

    .accepted-status {
        font-size: 1.5rem;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;

    .title {
        font-size: 5rem;
    }

    .time-bar {
        background-color: $dark-accent;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.15rem;
        @keyframes shrink {
            to {
                width: 0;
            }
        }

        @keyframes pulse {
            from {
                background-color: $dark-accent;
            }
            to {
                background-color: lighten($dark-accent, 20%);
            }
        }

        animation: shrink 20s linear forwards, pulse 1s alternate infinite;
    }

    @keyframes bounce {
        0% {
            width: 0%;
            left: 0;
        }

        50% {
            width: 30%;
        }

        100% {
            width: 0%;
            left: 100%;
        }
    }

    .animation-bar {
        outline: 1px solid transparent;
        position: relative;
        background-color: #fff;
        height: 0.2rem;
        width: 100%;
        animation: bounce 1s ease-in-out alternate infinite;
        align-self: flex-start;
        transform: translateX(-50%);
    }
}

.btn {
    border-radius: 0;
    color: $light-shades;
    background-color: transparent;
    // border: 2px solid;
    position: relative;
    transition: all 0.15s ease-out;

    $margin: 0.5rem;
    $multiplier: 2;

    &:hover:before, &:hover:after {
        // width: 50%;
    }

    &:hover:before {
        left: -$margin*$multiplier;
    }

    &:hover:after {
        right: -$margin*$multiplier;
    }

    &:before, &:after {
        content: '';
        width: 30%;
        height: 0.1rem;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transition: all 0.15s ease-out;
    }

    &:before {
        left: 0;
        transform: translate(calc(-100% - #{$margin}), -50%);
    }

    &:after {
        right: 0;
        transform: translate(calc(100% + #{$margin}), -50%);
    }
}

.accept-btn {
    // border-color: $main-color;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: $main-color;
    // font-family: $special-font;

    &:before, &:after {
        background-color: $main-color;
    }

    &:hover {
        $color: lighten($main-color, 10%);
        color: $color;

        &:before, &:after {
            background-color: $color;
        }
    }
}

.decline-btn {
    // border-color: $danger;
    color: $danger;

    &:before, &:after {
        background-color: $danger;
    }

    &:hover {
        $color: lighten($danger, 10%);
        color: $color;

        &:before, &:after {
            background-color: $color;
        }
    }
}
