@import '../../styles/variables';

:host {
	display: flex;
	flex-wrap: wrap;

	.item {
		margin-right: $main-content-px;
		margin-bottom: 2.4rem;
	}
}

.notice {
	height: 55px;
	width: 100%;
	background: $main-color;
	margin-bottom: 1rem;
	border-radius: 4px;
	display: flex;
	align-items: center;
	padding-left: 0.8rem;

	&.main-color { background: $main-color; }
	&.dark-accent { background: $dark-accent; }
}
