<div class="notice main-color">
    Just how the colors work with a big fat block of text that says sth that is supposed to be important.
</div>
<div class="notice dark-accent">
    Another very important notice that tests how colors look on stuff.
</div>
<app-inventory-item *ngFor="let item of skins" [item]="item" class="item"></app-inventory-item>
