@import '../../styles/variables';

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-grow: 1;
    font-size: 1.1rem;
    background-color: $dark-shades;
}

.my-navbar {
    $navbar-height: 70px;
    $container-height: 50px;

    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    min-height: $navbar-height;
    max-height: $navbar-height;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: $nav-font;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
    background-color: $darker-shades;

    .filler {
        flex-grow: 1;
    }

    .container-box {
        height: $container-height;
        display: flex;
        align-items: center;
    }

    .logo {
        font-family: $special-font;
        // font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        margin-right: 1.5rem;
        margin-left: 1rem;

        &:hover {
            transition: color 0.3s ease;
            color: $main-color;
        }
    }

    .menu-items {
        display: flex;
        position: relative;
        align-self: flex-end;
        padding-right: 1rem;
        border-bottom: 2px solid $main-color;

        .slider {
            position: absolute;
            top: 0;
            width: 0;
            height: 1px;
            transform: translateX(-50%);
            background-color: $main-color;
            transition: all 0.3s ease-out;
        }

        a {
            position: relative;
            font-size: 1.37rem;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 400;
            padding: 0.5rem 1.6rem;
            transition: color 0.3s;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 33%;
                height: 1px;
                background-color: $main-color;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &.active, &:hover {
                color: $light-shades-accent;
            }

            &:hover:before {
                opacity: 0.6;
            }
        }
    }

    .play-btn {
        align-self: flex-end;
    }
}

.main-content, .chat, .action-bar {
    padding-top: 1rem;
}

.main-content {
    flex-grow: 1;
    overflow-x: hidden;
    font-family: $main-font;
    font-weight: 500;
    padding: $main-content-py $main-content-px;
}

.action-bar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background: $light-accent;
}

.side-menu {
    display: flex;
    transition: margin ease-out 0.3s;
    margin-left: 0;

    .chat {
        width: $chat-width;
    }

    &.chat-hidden {
        margin-left: -$chat-width;
    }

    .action-bar {
        position: relative;
        padding-left: 1rem;
        $icon-border-width: 2px;

        // The icon part
        .action-icon:before {
            transition: color 0.3s;
            color: #fff;
            font-size: 1.8rem;
        }

        // The effect
        .action-icon:after {
            position: absolute;
            top: -$icon-border-width / 2;
            left: -$icon-border-width / 2;
            padding: $icon-border-width / 2;
            z-index: -1;
            content: '';
            box-sizing: content-box;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #fff;
            transform: scale(1.4);
            opacity: 0;
            transition: transform 0.2s, opacity 0.2s;
        }

        .action-icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 1.67rem;
            $size: 3.2rem;
            width: $size;
            height: $size;
            border: $icon-border-width solid $light-shades;
            border-radius: 50%;
            // box-shadow: 0 0 0 $icon-border-width #fff;

            &:hover {
                &:before {
                    color: #212121;
                }

                &:after {
                    transform: scale(1.0);
                    opacity: 1;
                }
            }
        }
    }
}
