<div class="page-container">
	<nav class="my-navbar">
		<div class="container-box">
			<!-- <a href="#" class="logo">Hypersnipe</a> -->
			<app-hud class="hud-items"></app-hud>
		</div>
		<app-play class="play-btn"></app-play>
		<div class="filler"></div>
		<div class="container-box">
			<div #menuItems class="menu-items">
				<div #slider class="slider"
					[style.left.px]="activeHtml.offsetLeft + activeHtml.offsetWidth / 2"
					[style.width.px]="activeHtml.offsetWidth * 0.33">
				</div>
				<a #devLink routerLink="/dev" routerLinkActive="active"><span>A</span></a>
				<a #accountLink routerLink="/account" routerLinkActive="active"><span>Account</span></a>
				<a #inventoryLink routerLink="/inventory" routerLinkActive="active"><span>Inventory</span></a>
				<a #gamesLink routerLink="/games/1" routerLinkActive="active"><span>Game</span></a>
				<a #marketplaceLink routerLink="/marketplace" routerLinkActive="active"><span>Marketplace</span></a>
			</div>
			<!-- <a href="#">Log Out</a> -->
		</div>
	</nav>
	<div class="content-container">
		<div class="side-menu" [class.chat-hidden]="isChatHidden">
			<app-chat class="chat"></app-chat>
			<div class="action-bar">
				<a class="fa fa-comments-o action-icon" (click)="isChatHidden = !isChatHidden"></a>
			</div>
		</div>
		<div class="main-content" id="main-content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<app-ready-check></app-ready-check>
