:host {
    padding-top: 1.2rem;
}

.chat-header {
    justify-content: space-between;
    padding-right: 0.5rem;

    &, .online-users-count {
        display: flex;
        align-items: center;
    }

    .social-media i {
        margin-left: 0.7rem;
        font-size: 1.4rem;
    }

    .online-users-count {
        font-size: 0.8rem;
        opacity: 0.8;

        .online-icon {
            background: lightgreen;
            $size: 0.8rem;
            width: $size;
            height: $size;
            border-radius: 50%;
        }

        .count {
            position: relative;
            top: 0.115rem;
            margin-right: 0.2rem;
        }
    }
}
