<div class="chat-header">
	<div class="social-media">
		<i class="fa fa-facebook-f"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-steam"></i>
	</div>
	<div class="online-users-count">
		<span class="count">{{ socketService.onlineUsersCount }}</span>
		<span class="online-icon"></span>
	</div>
</div>
<div *ngFor="let message of messages" class="media">
	<img class="d-flex mr-3" src="{{message.avatarUrl}}" alt="Generic placeholder image">
	<div class="media-body">
		<h5 class="mt-0">{{message.username}}</h5>
		{{message.text}}
	</div>
</div>

<!-- <input type="text" class="form-control" #message (keyup.enter)="sendMessage(message.value); message.value = '';"> -->
