@import './variables';

body,
html,
app-root {
	font-family: $main-font;
	font-weight: 400;
	height: 100%;
	color: $light-shades;

	a {
		color: $light-shades;

		&:hover {
			color: $light-accent;
		}
	}
}

.main-content,
.navbar,
.side-menu {
	z-index: 10;
}

.tooltip {
	$margin: 0.1rem;

	& > .tooltip-inner {
		white-space: nowrap;
		font-weight: 500;
	}

	&.bs-tooltip-right {
		left: 100%;
		margin-left: $margin;
	}

	&.bs-tooltip-top {
		top: -0%;
		margin-bottom: $margin;
	}

	.arrow {
		display: none;
	}
}

.tickets-color, .skin-shards-color, .tickets-currency-color {
	transition: color 0.3s;
}

.icon-ticket {
	color: $tickets-color;
}

.icon-skin-shard {
	color: $skin-shards-color;
}

.icon-hypercoin {
	color: $tickets-currency-color;
}

.tickets-color {
	color: lighten($tickets-color, 50%);

	&:hover {
		color: $tickets-color;
	}
}

.skin-shards-color {
	color: lighten($skin-shards-color, 50%);

	&:hover {
		color: $skin-shards-color;
	}
}

.tickets-currency-color {
	color: lighten($tickets-currency-color, 50%);

	&:hover {
		color: $tickets-currency-color;
	}
}
