// $light-shades: #F2E6DE;
// $light-accent: #EFB74B;
// // $main-color: #DA5C1B;
// $main-color: #FF7519;
// $dark-accent: #80261E;
// $dark-shades: #151516;

// VIBRANT COLORS
// $light-shades: #F9F9FA;
// $light-accent: #8CB2BC;
// $main-color: #FF7519;
// $dark-accent: #CF4441;
// $dark-shades: #292734;
// $darker-shades: #131216;

// $light-shades: #F4F5F2;
// $light-accent: #809BAF;
// $main-color: #FF7454;
// $dark-accent: #A84C4D;
// $dark-shades: #32323A;
// $darker-shades: #1C1C1D;

// WASHED OUT COLORS
// $light-shades: #FAFAFA;
//  $light-accent: #8098AD;
//  $main-color: #FF7454;
//  $dark-accent: #AB4C4D;
//  $dark-shades: #151A22;
//  $darker-shades: #060608;

// Good one
// $light-shades: #C4C4C4;
// $light-accent: #484848;
// $main-color: #E0B544;
// $dark-accent: #C0362C;
// $dark-shades: #1C1C1A;
// $darker-shades: #171716;

// BEST
$light-shades: #F5F0EF;
$light-accent: #474545;
$main-color: #D77A3F;
$dark-accent: #A53A26;
$dark-shades: #212124;
$darker-shades: #151517;
$light-shades-accent: darken($light-shades, 9%);
$icon-gray: #D14D4D;

$navbar-bg: $darker-shades;
$item-bg: $darker-shades;
$tickets-color: #F2DC79;
$skin-shards-color: #8BE09A;//#66CCB9;
$tickets-currency-color: #C1C1C1;

$chat-width: 17rem;

$success: #799e4a;
$warning: #f68e12;
$danger: #f44336;
$gain-color: lighten($success, 10%);
$loss-color: lighten($danger, 2%);

$tooltip-color: $light-shades;
$tooltip-bg: $dark-accent;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-opacity: 1;
$tooltip-max-width: 300px;

$main-font: 'Barlow Condensed', sans-serif; // FINAL
$numbers-font: 'Barlow Condensed', sans-serif; // FINAL
$special-font: 'Black Ops One', sans-serif; // FINAL
$nav-font: $main-font;

$main-content-px: 0.8rem;
$main-content-py: $main-content-px;

$zIndexMap: (
    top: 100,
    bottom: -1,
    tooltip: 200
);

//== Colors

$rarity-stattrak:       #F89406;
$rarity-ancient:        #EB4B4B;
$rarity-legendary:      #D32CE6;
$rarity-mythical:       #8847FF;
$rarity-rare:           #4B69FF;
$rarity-uncommon:       #5E98D9;
$rarity-common:         #B0C3D9;

// $bg-color: 				#1a1a1d;
// $main-silver: 			#4e4e50;
// $main-pink-dark: 		#6f2232;
//
// $background: #222;
// $text: #46A29F;
// $text-highlight: #66FCF1;
// $background-secondary: #202833;
//
// $bg-color-primary:      #272932;
// $bg-color-secondary:    #262D38;//lighten($bg-color-primary, 5%) !default;
// $bg-color-highlight:    lighten($bg-color-primary, 7%);
// $color-highlight:       #EDAE49;//#DAAD86 !default;
// $color-highlight1:		#00ffc5;
// $color-logo-light:      #769ED3;
// $color-logo:            #5782C2;
//
// $spacer: 1rem;
// $spacers: (
//   0: 0,
//   1: ($spacer * .25),
//   2: ($spacer * .4),
//   3: ($spacer * .5),
//   4: ($spacer * .75),
//   5: $spacer,
//   6: ($spacer * 1.5),
//   7: ($spacer * 3)
// );
//
//
// $white:  #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:  #000 !default;
//
// $grays: (
//   100: $gray-100,
//   200: $gray-200,
//   300: $gray-300,
//   400: $gray-400,
//   500: $gray-500,
//   600: $gray-600,
//   700: $gray-700,
//   800: $gray-800,
//   900: $gray-900
// ) !default;
//
// $blue:    #007bff !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
// $red:     #dc3545 !default;
// $orange:  #fd7e14 !default;
// $yellow:  #ffc107 !default;
// $green:   #28a745 !default;
// $teal:    #20c997 !default;
// $cyan:    #17a2b8 !default;
//
// $white-alpha-4: rgba(255, 255, 255, 0.4);
// $black-alpha-2: rgba(0, 0, 0, 0.2);
//
// $colors: (
//   blue: $blue,
//   indigo: $indigo,
//   purple: $purple,
//   pink: $pink,
//   red: $red,
//   orange: $orange,
//   yellow: $yellow,
//   green: $green,
//   teal: $teal,
//   cyan: $cyan,
//   white: $white,
//   gray: $gray-600,
//   gray-dark: $gray-800,
//   white-alpha-4: $white-alpha-4
// );
//
// $theme-colors: (
//   primary: $blue,
//   secondary: $gray-600,
//   success: $green,
//   info: $cyan,
//   warning: $yellow,
//   danger: $red,
//   light: $gray-100,
//   dark: $gray-800,
//   white-alpha-4: $white-alpha-4
// );
