<div class="sections-container">
    <div class="horizontal-line"></div>
    <div *ngFor="let section of sections" class="section-container"
        [style.left.%]="section.from" [style.width.%]="section.to - section.from"
        (mouseenter)="section.highlighted = true"
        (mouseleave)="section.highlighted = false"
        [ngbPopover]="sectionInfo" triggers="mouseenter:mouseleave">

        <div class="background" [class.highlighted]="section.highlighted"
            [style.height.%]="section.highlighted ? 100 : section.amount / betsSum * 100">
        </div>

        <div class="section"
            [style.height.%]="section.amount / betsSum * 100"
            [style.background]="utilService.getSectionColor(section, sections)">
        </div>

        <ng-template #sectionInfo>
            <div>{{section.from}}-{{section.to}}</div>
            <div>{{section.amount}}</div>
        </ng-template>
    </div>
    <div *ngFor="let breakpoint of breakpoints" class="vertical-line"
        [style.left.%]="breakpoint"></div>
</div>
