@import '../../../styles/variables';

.sections-container {
    // border: 1px solid $border-color;

    &, .section-container {
        position: relative;
        height: 100%;
    }

    .section-container, .section, .background, .horizontal-line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .horizontal-line {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 1px;
    }

    .vertical-line {
        position: absolute;
        // transform: translateX(-50%);
        height: 100%;
        border-right: 1px dashed rgba(255, 255, 255, 0.25);
    }

    .section-container {
        .section, .background {
            width: 100%;
        }

        .section {
            background: rgba(255, 255, 255, 0.2);

            & {
                border-right: 1px solid $dark-shades;
                border-left: 1px solid $dark-shades;
            }
        }

        .background {
            z-index: -1;
            border: 1px solid #fff;
            border-left: 0;
            border-right: 0;
            transition: all 0.2s ease;

            &.highlighted {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        &:last-child .vertical-line {
            display: none;
        }
    }
}
