@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vswa6e');
  src:  url('fonts/icomoon.eot?vswa6e#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vswa6e') format('truetype'),
    url('fonts/icomoon.woff?vswa6e') format('woff'),
    url('fonts/icomoon.svg?vswa6e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stattrak:before {
  content: "\e90c";
}
.icon-skin-blueprint:before {
  content: "\e905";
}
.icon-skin-ticket:before {
  content: "\e906";
}
.icon-wear-bs:before {
  content: "\e907";
}
.icon-wear-fn:before {
  content: "\e908";
}
.icon-wear-ft:before {
  content: "\e909";
}
.icon-wear-mw:before {
  content: "\e90a";
}
.icon-wear-ww:before {
  content: "\e90b";
}
.icon-sell:before {
  content: "\e903";
}
.icon-upgrade:before {
  content: "\e904";
}
.icon-hypercoin:before {
  content: "\e900";
}
.icon-skin-shard:before {
  content: "\e901";
}
.icon-ticket:before {
  content: "\e902";
}
