@import '../../../styles/variables';
@import '../../../styles/helper';

.content-container {
    $bar-height: 5px;
    position: relative;
    z-index: map-get($zIndexMap, top);

    margin-left: 3rem;
    width: 6rem;
    height: 3.2rem;

    .border-effect-box {
        height: $bar-height;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $main-color;
    }

    &:after,
    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
    }

    &:before {
        border-top: 1px solid $main-color;
        border-left: 1px solid $main-color;
        left: 0;
        bottom: 0;
    }

    &:after {
        border-right: 1px solid $main-color;
        top: 0;
        right: 0;
    }

    // Play btn animation
    &:hover {
        cursor: pointer;
        $height-duration: 0.1s;
        $width-duration: $height-duration * 1.5;
        $fill-start: $height-duration;
        $fill-duration: $height-duration * 2 + $width-duration;

        .play-text {
            transition: $fill-duration color ease-out $fill-start;
            color: $darker-shades;
        }

        &:before {
            @extend .fill;
            transition: $height-duration height linear, $width-duration width linear $height-duration;
        }

        &:after {
            transition: $height-duration height linear $height-duration + $width-duration;
            height: 100%;
        }

        .border-effect-box {
            transition: $fill-duration height ease-out $fill-start;
            height: 100%;
        }
    }

    .play-btn, .timer-container, .play-text, .text-container, .timer, .cancel-text {
        @extend .fill;
    }

    .play-text, .text-container {
        @extend .flex-center;
        font-family: $special-font;
        text-transform: uppercase;
        z-index: map-get($zIndexMap, top);
    }

    .play-btn {
        display: flex;
        align-items: center;

        .play-text {
            font-size: 1.75rem;
        }
    }

    .text-container {
        position: relative;

        .timer, .cancel-text {
            @extend .flex-center;
            position: absolute;
            left: 0;
            right: 0;
        }

        .timer {
            font-size: 1.5rem;
        }

        .cancel-text {
            font-size: 1.3rem;
            opacity: 0;
        }

        &:hover {
            color: $darker-shades;

            .timer {
                opacity: 0;
            }

            .cancel-text {
                opacity: 1;
            }
        }
    }
}

// the container centers the absolute div (instead of transform) (fixes jitters)
.game-picker-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    cursor: default;
    z-index: map-get($zIndexMap, top);

    .game-types {
        border-top: 4px solid $light-accent;
        background-color: $darker-shades;
        font-size: 1.5rem;
        font-weight: 500;

        &, .game-type {
            display: flex;
        }

        .game-type {
            cursor: pointer;
            position: relative;
            flex-direction: column;
            padding: 0.4rem 0;
            border-bottom: 0.4rem solid rgba($main-color, 0);
            transition: all 0.3s ease;

            &:not(:last-child):after {
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                width: 1px;
                height: 50%;
                transform: translateY(-50%);
                background-color: $light-accent;
            }

            .info-container {
                $min-padding: 2.4rem;
                padding: 0 $min-padding;
                position: relative;

                &, .info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                .info, .info-icon {
                    transition: all 0.25s;
                }

                .info-icon {
                    position: absolute;
                    top: 50%;
                    right: 0.7rem;
                    transform: translateY(-50%);
                }

                .label-icon {
                    font-size: 2rem;
                    margin-right: 0.7rem;
                }

                span {
                    white-space: nowrap;
                }

                .info-icon {
                    font-size: 0.93rem;
                    opacity: 0;
                }

                &:hover .info-icon {
                    opacity: 0.4;
                }

                .fa-user {
                    color: lighten($dark-accent, 10%);
                }
            }

            &:hover {
                border-color: rgba($main-color, 1);
            }
        }
    }
}
