<div class="content-container" (focusout)="isGamePickerActive = false">
    <div *ngIf="!isInQueue" class="play-btn" (mouseleave)="isGamePickerActive = false">
        <span class="play-text" (click)="isGamePickerActive = !isGamePickerActive">PLAY</span>

        <div *ngIf="isGamePickerActive" class="game-picker-container">
            <div class="game-types">
                <div class="game-type" *ngFor="let gameType of gameTypes" (click)="joinQueue(gameType)">
                    <div class="info-container">
                        <div class="info">
                            <i class="fa fa-user label-icon"></i>
                            <span>{{gameType.playersCount}} &mdash; FFA</span>
                        </div>
                        <ng-template #infoPlayers>{{gameType.playersCount}} Players<br />Free For All<br />1st &ndash; 2nd &ndash; 3rd</ng-template>
                        <i class="fa fa-question-circle-o info-icon" [ngbTooltip]="infoPlayers" placement="right"></i>
                    </div>
                    <div class="info-container">
                        <div class="info">
                            <i class="icon-ticket pos-fix label-icon"></i>
                            <span>{{gameType.entryTickets}}</span>
                        </div>
                        <ng-template #infoTickets>Requires {{gameType.entryTickets}} tickets to enter</ng-template>
                        <i class="fa fa-question-circle-o info-icon" [ngbTooltip]="infoTickets" placement="right"></i>
                    </div>
                    <div class="info-container">
                        <div class="info">
                            <i class="icon-skin-shard pos-fix label-icon"></i>
                            <span>{{gameType.prizePoolMin}} &ndash; {{gameType.prizePoolMax}}</span>
                        </div>
                        <ng-template #infoPrize>Prize pool possible range<br />Distribution: 60-30-10%</ng-template>
                        <i class="fa fa-question-circle-o info-icon" [ngbTooltip]="infoPrize" placement="right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isInQueue" class="timer-container">
        <div class="text-container">
            <span class="timer">{{timeInQueue * 1000 | date:'m:ss'}}</span>
            <span class="cancel-text" (click)="leaveQueue()">CANCEL</span>
        </div>
    </div>
    <div class="border-effect-box"></div>
</div>
