<div class="input-container">
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="item.name" [ngbTypeahead]="search"/>
    <button class="btn btn-success" (click)="add()">Add</button>
    <div class="item-type" (click)="toggleItemType()">
        {{item.type}}
    </div>
</div>

<div>
    <div *ngFor="let invItem of inventory">
        <span class="name">{{invItem.name}}</span>
        <span class="type">{{invItem.type}}</span>
        <button class="btn btn-danger" (click)="remove(invItem)">Remove</button>
    </div>
</div>

<div class="py-5">
    <button class="btn btn-primary" (click)="leaveGame()">Leave Game</button>
    <button class="btn btn-primary" (click)="leaveQueue()">Leave Queue</button>
    <button class="btn btn-primary" (click)="skipQueue()">Skip Queue</button>
</div>
