@import '../../styles/variables';

.name, .type {
    padding: 0.3rem 0.5rem;
    margin-right: 1rem;
}

.name {
    background-color: $main-color;
}

.type {
    background-color: $dark-accent;
}

.input-container {
    display: flex;

    input {
        max-width: 50%;
    }
}
