@import "~styles/variables.scss";

// COLORS

$white-alpha-4: rgba(255, 255, 255, 0.4);
$gray-800: gray;
$black-alpha-2: rgba(0, 0, 0, 0.2);
$white: #fff;

$transition-duration: 0.3s;
$border-width: 1px;
$thumb-size: 150px + 2 * $border-width;

:host {
    cursor: pointer;
    display: inline-block;
    border: $border-width solid rgba(255, 255, 255, 0);
    position: relative;
    background: $item-bg;

    width: $thumb-size;
    height: $thumb-size;

    transition: border-color $transition-duration ease;

    .bg-img {
        // transition: filter 0.1s;
    }

    &:hover {
        border-color: white;

        .shadow-overlay {
            opacity: 0.25;
        }

        .item-overlay {
            opacity: 1;
        }

        .bg-img {
            filter: blur(6px);
        }

        .side-icons {
            // transform: translateY(100%);
            background-color: $black-alpha-2;
            border-bottom-color: $white;
        }
    }
}

.bg-img {
    width: 150px;
    height: 150px;
}

.side-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 0.35rem 0;
    width: 100%;
    bottom: 0;
    transform: translateY(50%);
    z-index: 3;
    transition: all $transition-duration ease-out;
    border-bottom: 1px solid transparent;

    i {
        position: relative;
        top: 2px;
        font-size: 1.8rem;
        margin-right: 0.3rem;

        &[class="icon-stattrak"] {
            margin-left: 0.2rem;
        }
    }
}

.item-overlay,
.shadow-overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.shadow-overlay {
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    // transition: opacity $transition-duration;
}

.item-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    padding-bottom: 0.2rem;

    .overlay-title {
        text-align: center;
        // font-size: 0.9rem;
        // font-weight: bold;
        padding: 0.3rem 0.5rem;
    }

    [class*="price"] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        padding: 0 0.5rem;
        background-color: rgba(0, 0, 0, 0.2);

        span {
            font-family: $numbers-font;
        }

        .icon-skin-shard {
            position: relative;
            top: 0.12rem;
        }

        &.price-sell span {
            color: $gain-color;
        }

        &.price-upgrade span {
            color: $loss-color;
        }
    }
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: auto;
    border: 1px solid #fff !important;
    background-color: inherit;
    z-index: 1000;
    position: absolute;
    $width: 250px;
    $height: 350px;
    transform: translateX(-($width - $thumb-size) / 2);
    // display: none;
    visibility: hidden;
    width: $width;
    height: $height;
    top: -$border-width;
    left: -$border-width;
    box-shadow: 0px 0 15px 3px #000 !important;

    &.expanded {
        // background-color: $color-highlight;
        // display: block;
        visibility: visible;
    }

    &.shift-left {
        left: -($width - $thumb-size) / 2;
    }

    &.shift-right {
        left: ($width - $thumb-size) / 2;
    }

    &.shift-top {
        top: -($height - $thumb-size);
    }

    &.left-bottom-expand {
        right: 0;
        top: -$border-width;
    }

    &.left-top-expand {
        right: 0;
        bottom: 0;
    }

    &.right-bottom-expand {
        top: -$border-width;
        left: -$border-width;
    }

    &.right-top-expand {
        left: 0;
        bottom: 0;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }

    [class*="btn-"] {
        color: #fff;
        border-radius: 0;
        border-top: 1px solid #fff;
        background-color: transparent;
        display: flex;
        justify-content: space-between;

        &:hover {
            background-color: #ccc;
        }
    }
}

.rarity-strip {
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: 10;
}
