<div class="rarity-strip" [style.backgroundColor]="'#' + item.qualityColor"></div>
<div class="shadow-overlay"></div>
<div class="item-overlay">
    <div>
        <div class="overlay-title">{{item.shortName}}</div>
    </div>
    <div>
        <div class="price-sell">
            <i class="icon-sell" ngbTooltip="Sell Price"></i>
            <div>
                <span>+{{item.sellPrice | number: '1.0-0'}}</span>
                <i class="icon-skin-shard"></i>
            </div>
        </div>
        <div *ngIf="item.blueprintUpgradeCost" class="price-upgrade">
            <i class="icon-upgrade" ngbTooltip="Upgrade Price"></i>
            <div>
                <span>-{{item.blueprintUpgradeCost | number: '1.0-0'}}</span>
                <i class="icon-skin-shard"></i>
            </div>
        </div>
    </div>
</div>

<div #itemInfo class="item-info" [class.expanded]="isExpanded" [style.box-shadow]="'0px 0 5px 1px ' + '#' + item.nameColor" [style.border-color]="'#' + item.nameColor">
    {{item.name}}

    <div class="actions">
        <button class="btn btn-sell">
            <i class="icon-sell"></i>
            <span>
                Sell for {{item.sellPrice}}
                <i class="icon-skin-shard"></i>
            </span>
        </button>
        <button *ngIf="item.blueprintUpgradeCost" class="btn btn-upgrade">
            <i class="icon-upgrade"></i>
            <span>
                Upgrade for {{item.blueprintUpgradeCost}}
                <i class="icon-skin-shard"></i>
            </span>
        </button>
        <button class="btn btn-forge">
            <i class="icon-skin-blueprint"></i>
            Add to Forge
        </button>
    </div>
</div>

<img class="bg-img" src="{{item.iconUrl + '/150fx150f'}}" alt="item image">
<div #sideIcons class="side-icons">
    <i class="icon-wear-{{getWearClass()}}" ngbTooltip="{{item.wear}}" placement="top"></i>
    <i class="icon-skin-{{getSkinType()}}" ngbTooltip="Skin {{getSkinType() | titlecase}}" placement="top"></i>
    <i *ngIf="item.statTrak" class="icon-stattrak" ngbTooltip="StatTrak" placement="top"></i>
</div>
