<div class="slider-container">
    <div class="labels-container">
        <div #labelMin class="label-static label-min" [class.hidden]="isLabelMinHidden">{{min}}</div>
        <div #labelMax class="label-static label-max" [class.hidden]="isLabelMaxHidden">{{max}}</div>
        <div class="labels" [style.left.%]="fromPercent"
            [style.width.%]="toPercent - fromPercent">

            <div #labelLow class="label label-from">{{from}}</div>
            <div class="label-middle-container">
                <div class="line"></div>
                <!-- <div class="dot dot-left"></div> -->
                <!-- <div class="dot dot-right"></div> -->
                <div class="multiplier">{{multiplier | number:'1.2-2'}}x</div>
                <div class="line"></div>
            </div>
            <div #labelHigh class="label label-to">{{to}}</div>
        </div>
    </div>
    <div class="track-container">
        <div class="track-bg"></div>
        <div #track class="track">
            <div #thumbFrom class="thumb" tabindex="0"
                (focus)="selectThumb(thumbFrom)"
                (blur)="deselectThumb()"
                (mousedown)="activateThumb($event, thumbFrom)"
                [style.left.%]="fromPercent">
                <!-- <svg viewBox="0 0 100 100">
                    <polygon points="50,0 75,75 50,100 25,75"/>
                </svg> -->
            </div>
            <div #thumbTo class="thumb" tabindex="0"
                (focus)="selectThumb(thumbTo)"
                (blur)="deselectThumb()"
                (mousedown)="activateThumb($event, thumbTo)"
                [style.left.%]="toPercent">
            </div>
            <div class="selected-range" tabindex="0"
                (focus)="selectRange()"
                (blur)="deselectRange()"
                (mousedown)="activateRange($event)"
                [style.left.%]="fromPercent"
                [style.width.%]="toPercent - fromPercent">
            </div>
        </div>
    </div>
</div>

<!--
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -8" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
        </filter>
    </defs>
</svg> -->
