$track-bg-color: darkgreen;
$selected-bg-color: #fff;

.labels-container, .track-container {
    position: relative;
}

.track-container {
    $track-height: 12px;
    $thumb-width: 2px;
    $thumb-height: 19px;
    height: $track-height + $thumb-height;

    .track, .thumb, .selected-range, .track-bg {
        position: absolute;
    }

    .track, .thumb, .track-bg {
        top: 50%;
    }

    .track, .thumb {
        transform: translate(-50%, -50%);
    }

    .track, .track-bg {
        height: $track-height;
    }

    .track-bg {
        width: 100%;
        background: $track-bg-color;
        border-radius: 7px;
        transform: translateY(-50%);
    }

    .track {
        $transition-duration: 0.2s;
        width: calc(100%);
        left: 50%;

        &:hover {
            .selected-range {
                background-color: #aaa;
            }

            .thumb {
                width: $thumb-width + 10px;
                height: $thumb-height + 5px;
                border-radius: 4px;
            }
        }

        .selected-range {
            height: 100%;
            background-color: $selected-bg-color;
            z-index: 1;
            transition: background-color $transition-duration ease;

            &:focus {
                outline: none;
            }
        }

        .thumb {
            width: $thumb-width;
            height: $thumb-height;
            background: $selected-bg-color;
            border-radius: 1px;
            z-index: 2;
            transition: all $transition-duration ease;
            transition-property: width, height, background-color, border-radius;

            &:focus {
                outline: none;
            }
        }
    }
}

.labels-container {
    height: 1.8rem;

    .labels {
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .label, .multiplier, .label-static {
        font-size: 0.85rem;
        padding: 0.1rem 0.25rem;
        background-color: $selected-bg-color;
        color: #222;
        border-radius: 0.2rem;
    }

    .label {
        display: flex;
        align-items: center;
        position: absolute;
        // transform: translateX(-50%);
        z-index: 3;

        &:after {
            $border-width: 0.25rem;
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            border: $border-width solid transparent;
            border-top-color: $selected-bg-color;
            bottom: -$border-width * 2;
            display: block;
            margin-left: -$border-width;
        }

        &.label-from {
            left: 0;
            transform: translateX(-50%);
        }

        &.label-to {
            right: 0;
            transform: translateX(50%);
        }
    }

    .label-static {
        opacity: 0.3;
        position: absolute;

        &.hidden {
            visibility: hidden;
        }

        &.label-min {
            left: 0;
        }

        &.label-max {
            right: 0;
        }
    }

    .label-middle-container {
        flex-grow: 1;
        display: flex;
        position: relative;

        .multiplier {
            margin: 0 1rem;
        }
        // filter: url('#goo');

        // .dot {
        //     $duration: 1s;
        //     $dot-size: 0.7rem;
        //     position: absolute;
        //     width: $dot-size;
        //     height: $dot-size;
        //     background-color: #fff;
        //     border-radius: 50%;
        //     top: 50%;
        //     z-index: -1;
        //
        //     &.dot-left {
        //         @keyframes move-left {
        //             from { left: 0 }
        //             to { left: 100% }
        //         }
        //
        //         animation: move-left $duration ease-in-out alternate infinite;
        //         left: 0;
        //         transform: translate(-50%, -50%);
        //     }
        //
        //     &.dot-right {
        //         @keyframes move-right {
        //             from { right: 0 }
        //             to { right: 100% }
        //         }
        //         animation: move-right $duration ease-in-out alternate infinite;
        //         right: 0;
        //         transform: translate(50%, -50%);
        //     }
        // }

        .line {
            $dot-size: 0.4rem;
            $color: #fff;
            position: relative;
            flex-grow: 1;
            align-self: center;
            height: 1px;
            border-radius: 1px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        //
        //     .dot {
        //         position: absolute;
        //         width: $dot-size;
        //         height: $dot-size;
        //         background-color: $color;
        //         border-radius: 50%;
        //         top: 50%;
        //     }
        // }
    }
}
