<span class="tickets-color"><i class="icon-ticket"></i><span>{{userService.tickets | number: '1.0-0'}}</span></span>
<span class="skin-shards-color"><i class="icon-skin-shard"></i><span>{{userService.skinCurrency | number: '1.0-0'}}</span></span>
<span class="tickets-currency-color"><i class="icon-hypercoin"></i><span>{{userService.ticketCurrency | number: '1.0-0'}}</span></span>
