@import '../../../styles/variables';

:host {
    font-weight: bold;
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 2px solid $main-color;
}

:host > span {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 1rem;
    // border-right: 1px solid $main-color;

    &:not(:last-child):before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        width: 1px;
        height: 1.2rem;
        background-color: $main-color;
    }

    i::before {
        font-size: 1.8rem;
        margin-right: 0.35rem;
    }

    span {
        font-family: $numbers-font;
        position: relative;
        top: -0.1rem;
    }
}
