<div class="players">
    <div *ngFor="let player of players" class="player">
        {{player.steamName}}
    </div>
</div>

<div class="bar-chart">
    <app-game-bar-chart [sections]="sections" [betsSum]="betsSum"></app-game-bar-chart>
</div>

<div class="split-view">
    <app-game-sections-table class="sections-table" [sections]="sections" [betsSum]="betsSum"></app-game-sections-table>
    <div class="bet-system-container">
        <div class="bet-system">
            <div class="amounts-info">
                <div class="total-bets">{{betsSum}}</div>
                <div class="available">1000</div>
            </div>
            <app-range-slider class="range-slider" [min]="0" [max]="100" [step]="1" [minRange]="1" [(from)]="betFrom" [(to)]="betTo"></app-range-slider>
            <input type="number" [(ngModel)]="betAmount">
            <div class="">
                <span>{{betFrom}}</span><span>- {{betTo}}</span>
                <button type="button" class="btn btn-default" (click)="placeBet()">Place Bet</button>
            </div>
        </div>
        <div class="my-bets">
            <div class="header">
                My bets
            </div>
            <div *ngFor="let bet of accountPlayerBets" class="bet">
                <span>{{bet.amount}}</span>
                <span>{{bet.multiplier | number:'1.2-2'}}x</span>
                <span>{{bet.from}}-{{bet.to}}</span>
                <span>{{bet.potentialWin | number:'1.2-2'}}</span>
            </div>
        </div>
    </div>
</div>
