:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.players {
    align-self: center;
    display: inline-flex;
    margin-bottom: 0.5rem;
    flex-shrink: 0;

    .player {
        background-color: #333;
        width: 70px;
        height: 90px;
        padding: 0.6rem 0.4rem;

        &:not(:last-child) {
            margin-right: 0.2rem;
        }
    }
}

.bar-chart {
    flex-basis: 10%;
    flex-shrink: 0;
    margin-bottom: 0.7rem;
}

.split-view {
    display: flex;

    .sections-table, .bet-system-container {
        flex-basis: 50%;
        flex-grow: 1;
    }

    .bet-system-container {
        margin-left: 1rem;

        .amounts-info {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1rem;

            .total-bets, .available {
                padding: 0.5rem 1rem;
                border-radius: 0.4rem;
            }

            .total-bets {
                background-color: purple;
                margin-right: 1rem;
            }

            .available {
                background-color: darkgreen;
            }
        }

        .my-bets {
            margin-top: 1rem;

            .bet {
                display: flex;
                justify-content: space-between;

                span {
                    flex-basis: 25%;

                    &:not(:first-child) {
                        text-align: right;
                    }

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
}
