
<div class="sections-table-header">
    <span>Range</span>
    <span>Amount</span>
</div>
<div class="sections">
    <div *ngFor="let section of sections" class="section">
        <div class="range-container">
            <div class="dot-start" [style.left.%]="section.from"></div>
            <div class="dot-end" [style.left.%]="section.to"></div>
            <span class="label-from" [style.left.%]="section.from">{{section.from}}</span>
            <span class="label-to" [style.left.%]="section.to">{{section.to}}</span>
            <div class="line" [style.left.%]="section.from" [style.width.%]="section.to - section.from"></div>
            <div class="line-full"></div>
        </div>
        <div class="amount-container">
            <div class="amount-bar" [style.width.%]="section.amount / maxSection * 100"
                [style.background]="utilService.getSectionColor(section, sections, 1)">
            </div>
            {{section.amount}}
        </div>
    </div>
</div>
