$default-duration: 0.3s;

.sections-table-header, .section {
    display: flex;
    justify-content: space-between;
}

.sections-table-header {
    border-bottom: 1px solid #fff;
}

.sections {

    .section {
        $range-padding: 0.5rem;
        $amount-bar-height: 0.8rem;
        transition: background $default-duration ease;
        position: relative;

        &:hover {
            background: rgba(255, 255, 255, 0.1);

            .range-container .line-full {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        .range-container, .amount-container {
            padding: $range-padding 0;
        }

        .range-container {
            flex-grow: 1;
            position: relative;
            margin-right: 2rem;
            $dot-size: 7px;
            $spacing-label: 3px;

            [class*="dot-"], [class*="label-"], .line, .line-full {
                position: absolute;
                top: 50%;
                font-size: 1rem;
            }

            [class*="dot-"] {
                width: $dot-size;
                height: $dot-size;
                background: #fff;
                border-radius: 50%;
                transform: translateY(-50%);
            }

            .label-from {
                transform: translate(calc(-100% - #{$spacing-label}), -50%);
            }

            .label-to {
                transform: translate($dot-size + $spacing-label, -50%);
            }

            .line {
                height: 2px;
                transform: translateY(-50%);
                background: #fff;
            }

            .line-full {
                width: 100%;
                height: 1px;
                transform: translateY(-50%);
                background-color: rgba(255, 255, 255, 0.1);
                transition: all $default-duration ease;
            }
        }

        .amount-container {
            flex-basis: 80px;
            flex-shrink: 0;
            text-align: right;

            .amount-bar {
                position: absolute;
                top: 0;
                right: 0;
                height: 2px;
                transition: all $default-duration ease;
            }
        }
    }
}
